<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" class="form-control" [(ngModel)]="filtersStatus">
      <br>
      <button class="btn btn-primary" (click)="addServer()">Add Server</button>
      <br>
      <h4>App Status: {{appStatus | async}}</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filtersStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:5 }}</strong> | {{ server.instanceType | uppercase }} | {{ server.started | date:'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
